# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual envs
.venv/
venv/

# Unittest automation with tox
.tox/

# C extensions
*.so

# sqlite3 test databases might be created
*.sqlite
*.sqlite3

# generated content
*.1
*.3

# release files
dist/

# MacOS
.DS_Store

